body, .footnotes, .post-full-comments, .post-full-content blockquote, .post-full-content dl, .post-full-content h1, .post-full-content h2, .post-full-content h3, .post-full-content h4, .post-full-content h5, .post-full-content h6, .post-full-content ol, .post-full-content p, .post-full-content pre, .post-full-content ul, .subscribe-overlay-description, blockquote, dl, ol, p, ul{
    font-family: "Kalpurush", sans-serif !important;
}

.nav li a {
    font-size: 14px;
}

.site-footer-content {
    font-size: 14px;
}

.site-footer {
    padding: 20px 0;
}
span.fadethetext {
    background: #fff;
    width: 50px;
    height: 15px;
    display: inline-block;
    margin-left: -48px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.site-header{background: rgba(9, 10, 11, 0.7);background-blend-mode: multiply;background-position: center;background-repeat: no-repeat;background-size: cover;}


h1.post-full-title {
    color: #fff;
    font-size: 40px;
    z-index: 100;
}

.post-full-meta {
    font-size: 18px;
    margin-bottom: 18px;
    z-index: 100;
}


.post-full-content {
    margin-top:  -70px;
    border-radius: 5px 5px 0 0;
}

.post-template section.post-full-content>p:first-child {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}

.post-template section.post-full-content>p {
    font-size: 20px;
    line-height: 30px;
}

.site-headerfull-nav {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.post-template section.post-full-content>h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

.post-full-content li {
    font-size: 16px;
}
body.home-template .site-header {
    background: transparent;
    background-size: cover;
    background-position: center;
}

.post-full-footer {
    padding-bottom:  0;
}

.outer.commentwrap {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
}
h2.site-description {
    margin-top: 15px;
}
.subscribe-form{
    border-radius: 0;
}

a.dmca-badge {
    margin-top: -2px;
    width: 88px;
}

a.dmca-badge::before {
    display: none;
}

.inpostadvertisement {
    background-size: cover;
    border-radius: 5px;
    transition: all .5s ease;
    background: #fff 50%;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
}

.inpostadvertisement:hover {
    box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
    transition: all .3s ease;
    transform: translate3D(0,-1px,0);
}
body.tag-video section.post-full-content {
    padding: 0;
    overflow: hidden;
}

body.tag-video.post-template section.post-full-content>p:first-child {
    display: none;
}

.post-full-content .fluid-width-video-container {
    overflow: hidden;
}

.post-full-content .fluid-width-video-wrapper {
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 40px;
}

.post-full-content .fluid-width-video-wrapper iframe {
    width: 100%;
}

body.tag-video section.post-full-content {
    max-width: 100%;
}

body.tag-video.post-template section.post-full-content>p {
    padding: 0 70px;
}
.post-full-content iframe{
    max-width: 100%;
}

.post-card-meta-date{
    color: #666;
}

@media (min-width: 795px) {
    .post-feed .post-card:nth-child(6n+1):not(.no-image) {
        flex: 1 1 100%;
        flex-direction: row;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
        position: relative;
        flex: 1 1 auto;
        border-radius: 5px 0 0 5px;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content {
        flex: 0 1 357px;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) h2 {
        font-size: 2.6rem;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) p {
        font-size: 1.8rem;
        line-height: 1.55em;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content-link {
        padding: 30px 40px 0;
    }

    .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-meta {
        padding: 0 40px 30px;
    }
}
.fb_iframe_widget_fluid_desktop iframe {
    width: 800px !important;
    margin: 0 auto;
    display: block;
    max-width: 100% !important;
    min-width: 0 !important;
}
.post-full-content img, .post-full-content video{
    max-width: 100% !important;
}
@media all and (max-width: 500px){
    .post-full-content {
        margin-top:  0;
        padding-top:  15px;
    }

    .post-full-footer-right {
        display: none;
    }

    .post-full-footer {
        padding-top: 0;
        padding-bottom:  10px;
    }

    .outer.commentwrap {
        padding: 15px;
    }
    .site-footer-nav {
        padding: 0 15px;
        display: block;
    }

    a.dmca-badge {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .post-full-content .fluid-width-video-container {
        margin-top:  15px;
    }
}